openapi: 3.0.1
info:
  title: /
  version: 0.1.0
servers:
- url: "{server}:{port}"
  variables:
    server:
      default: http://localhost
    port:
      default: "9090"
paths:
  /covid19:
    post:
      operationId: covid19
      responses:
        "200":
          description: Ok
          content:
            text/plain:
              schema:
                type: string
